
<div class="left">
  <center>
  <%= link_to_function 'Upload Files', :class=>'big_button', do  |page| 
      page << "Effect.toggle('forms', 'slide')" 
    end
  %>
   or 
  <%= link_to_function 'Search',:class=>'big_button', do |page|
    page << "Effect.toggle('query', 'slide')"
    end
  %>
  </center>
  <div id="forms" style="display:none">
    <% field_set_tag '1.   Document Fields' do %>
      <% form_tag docs_path, :multipart=>true do %>
        <p><%= label_tag 'Collection File (Cranfield.all.1400, Medline.all, etc.)' %></p>
        <p><%= file_field_tag :collection %></p>
        <small><%= Doc.count %> Documents in DB.</small><br />
        <%= submit_tag :Upload %>
      <% end %>
    <% end %>
    <% field_set_tag '2.  Load Answers Document' do%>
      <% form_tag 'answers', :multipart => true do %>
        <p><%= label_tag  'Select Answers File. The one with relevant data.' %></p>
        <p> <%= file_field_tag :answers_doc %> </p>
        <%= submit_tag :Load %>
      <% end %>
    <% end %>
    <% field_set_tag '3.   Queries Documents Fields' do %>
      <% form_tag queries_path, :multipart  =>  true  do %>
        <p><%= label_tag 'Queries File (Cranfield.qry, Medline.qry, etc.)' %></p>
        <p><%= file_field_tag :queries %></p>
        <small><%= Query.all(:group=>'query_id').count %> Queries in DB.</small><br />
        <%= submit_tag  :Upload %>
      <% end %>
    <% end %>
   </div>
  <div id="query" style="display:none">    
     <% field_set_tag '4.  Select Query', :class=>'rightfields' do%>
      <% form_tag search_path, :multipart => true do %>
        Query No. <%= select_tag :query_id, options_from_collection_for_select(Query.all(:group=>'query_id'), 'query_id', 'query_id')%><br /><br />
        Metodo:
        <%= radio_button_tag  'metodo', 'tfidf' %> Tfidf 
        <%= radio_button_tag  'metodo', 'coseno' %> Coseno
        <br /><br />
        
        <%= submit_tag :Search %>
      <% end %>
    <% end %>
   </div>
</div>
<div class="right">
  <h3>Interesting Stats</h3>
      <p>Total terms: <%= number_with_delimiter Term.count %></p>
      <p>Total Docs: <%= number_with_delimiter  Doc.count %></p>
</div>
<div class="cleaner">
  &nbsp;
</div>
