<%= @doc.id %>
<% if @doc.title %>
<h2>Title: <br /><%= @doc.title.capitalize %></h2>
<% end %>
<% if @doc.author %>
<h3>Author: <%= @doc.author.capitalize %></h3>
<% end %>
<% if @doc.content %>
<p><%= @doc.content %></p>
<% end %>
<br />
<% if @doc.biblio %>
<i><%= @doc.biblio %></i>
<% end %>
<br />
<br />
<%= link_to 'Get Back', :back %>

