<%= @doc.id %>
<h2><br /><%= @doc.title.capitalize rescue nil %></h2>
<h3><%= @doc.author.capitalize rescue nil %></h3>
<p><%= @doc.content rescue nil %></p>
<br />
<i><%= @doc.biblio rescue nil%></i>
<br />
<br />
<%= link_to 'Get Back', :back %>

