<script type='text/javascript' src='http://www.google.com/jsapi'></script>

<h2>Query Results for query # <%= @query_id %></h2>
<p><b>Terminos de la consulta:</b> <%= @query_terms.join(', ') %></p>
<div style="float:right; text-align: left; width: 460px;">
  <h3>Total Results: <%= @results.size %></h3>
  <%= button_to :back, root_path %>
  <hr />
  <div id="chart_div">
  </div>   
  <div id="goodChart"></div>

  <h3>Respuestas de archivo .rel</h3>
    <table>
      <tr><th>Documento</th><th>Relevancia</th></tr>
      <% for answer in @answers %>
       <tr>
          <td><%= answer.doc_id %></td>
          <td><%= answer.relevance || -1 %></td>
        </tr>
      <% end %>  
    </table> 
</div>

<table>
  <tr><th>Documento</th><th>Similitud</th><th>Precision</th><th>Cobertura</th></tr>
  
  <% mostrados    = 1.0 %>
  <% relevantes   = 0.0 %>
  <% coleccion    = @doc_ids.size.to_f %>
  <% array_relevantes = [] %>
  <% array_cobertura  = [] %>
  
  <% for result in @results %>  
    <tr >      
        <% if @doc_ids.include?(result.docid) %>
        <% relevantes += 1 %>
        <td class="relevant">
           <% array_relevantes << (number_with_precision (relevantes  / mostrados) * 100, :precision=>2) %>
           <% array_cobertura << (number_with_precision relevantes  / coleccion, :precision=>2) %>
           <%= link_to result.docid, doc_path(result.docid) %>
        <%else %>
        <td>
            <%= result.docid  %>
        <% end %>
      </td>
      <td>
        <%= number_with_precision result.weight, :precision=>3 %>
      </td>
      <td>
        <%= number_with_precision (relevantes  / mostrados) * 100, :precision=>2  %> %
      </td>
      <td>
        <%= number_with_precision relevantes  / coleccion, :precision=>2 %>
      </td>      
    </tr>
   <% mostrados += 1 %>
  <% end %>
</table>

<% x1 = array_cobertura.map{|ar| ar.to_f * 100 }.join(',') %>
<% y1 = array_relevantes.join(',') %>
<% data_params  = "#{x1}|#{y1}" %>

<% 
  graph_parameters = { 
                        :cht  => 'lxy',
                        :chtt => 'Precision y Cobertura de Query',
                        :chs  => '450x350',
                        :chxt => 'x,x,y,y',
                        :chxl => '1:|Cobertura|3:|Precision|',
                        :chxs => '0,ff0000,12,0,lt|2,0000ff,10,1,lt',
                        :chd  => "t:#{data_params}"   
                      }
                      
  src   = ""
  graph_parameters.each_pair{|key,value| src << "#{key}=#{value}&"} 
  site  = "http://chart.apis.google.com/chart?"
%>                      

<div id='grafica'>
  <%= image_tag (image_path(site+src)), :alt=>'Comportamiento de la consulta' %>  
</div>
<script type="text/javascript">
  $('chart_div').insert($('grafica'))
</script>
